<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>Carnet Electronique Appartoo</title>
  </head>

   <body>
   La liste des contacts : {{user}}<br>
        {% for contact in contacts %}

                
                  {{ contact.contact}}


            {% endfor %}                  
    </body>
</html>